body {
  padding: 50px;
  background-image: url(https://t3.ftcdn.net/jpg/05/79/48/50/360_F_579485091_aVxVKR8e2s886hee1j146OBeiJugJifG.jpg);
  background-position: center;
  background-size: cover;
  backdrop-filter: brightness(50%);
  height: 100vh;
}